electron/electron-app/node_modules/*
electron/electron-app/out/*
server/node_modules/*
server/dist/*
server/test/*
web/node_modules/*
web/dist/*
beads_projectManager/.dolt/*
server/data/database.db
.beads/*
.claude/*
.dolt/*
.doltcfg/*
.serena/*
.sisyphus/*
.spec-workflow/*
beads_projectManager/.dolt/*
beads_projectManager/.doltcfg/*
.ocx/*
.opencode/*
